body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.app {
  margin-top: 20px;
}

.ascii {
  width: auto;
  height: 100px;
  padding: 23px;
  margin: 23px;
  text-align: center;
}

.ad {
  height: 250px;
}

.thumbnail .caption {
  text-align: center;

  h3 {
    color: blue;
  }
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

$menu-padding: 100px;

.sort-menu {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 10;
  top: 61px;

  button {
    padding-left: $menu-padding;
    padding-right: $menu-padding;
  }

  .dropdown-menu {
    text-align: center;
    width: 100%;
  }
}

.fetch{
   button {
     width: 100%;
  }
}
